.publicChat {
    font-family: 'Century Gothic';
    /* width: 1000px; */
    margin: 0 auto;
    width: 100%;
    /* position: absolute;
    top:50%;
    left:50%; */
    /* transform: translate(-50%,-50%); */
    grid-area: c;
    position: relative;
    background-color: rgb(10, 10, 18);
}



.chatWindow {
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* padding: 10px; */
}

::-webkit-scrollbar {
    width: 0.2rem;

}

::-webkit-scrollbar-thumb {
    background-color: gray;
    width: 0.1rem;
    border-radius: 1rem;
}

.emoji {
    position: relative;
}

.emoji svg {
    font-size: 1.5rem;
    color: yellow;
    cursor: pointer;
}

.emoji .emoji-picker-react {
    position: absolute;
    top: -350px;
}

.addMessage {
    position: absolute;
    bottom: 0;
    margin: 10px auto 0px auto;
    width: 100%;
    display: flex;
    min-height: 50px;
}

.addMessage input {
    font-family: 'Century Gothic';
    width: 80%;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.addMessage button {
    font-family: 'Century Gothic';
    width: 20%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(41, 121, 255);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.addMessage button:active {
    transform: translate(5px, 5px);
}