.peopleMessage {

    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.peopleInfo {
   
    display: flex;
    align-items: center;
    gap: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 3px;
    color: rgb(29, 233, 182);
}

.peopleInfo img {
    height: 20px;
    width: 20px;
}

.peopleMessageItem {
    padding: 3px 20px 3px 20px;
    color: white;
    background-color: rgb(13, 10, 52);
    border-radius: 10px;
}

.peopleMessageItem p {
    word-wrap: break-word;
    max-width: 300px;
}