.header {
    grid-area: h;

    /* margin: 0 auto; */
    background-color: rgb(9, 8, 26);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header h1 {
    padding: 5px;
    margin: 0;
    color: azure;
    font-size: 26pt;
    font-family: 'Century Gothic';
    border-bottom: 3px solid rgb(80, 30, 82);
    border-right: 3px solid rgb(80, 30, 82);
}

.header h4 {
    padding: 0;
    margin: 0;
    color: azure;
    font-size: 14pt;
}

.header p span {
    color: rgb(213, 0, 249);
    font-weight: 900;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 0px 0px 0px;
    justify-content: center;
    gap: 20px;
}

.auth h4 {
    color: rgb(255, 255, 9);
    font-family: consolas;
}

.auth button {
    background-color: rgb(213, 0, 249);
    border: 1px solid rgb(213, 0, 249);
    margin: 0 auto;
    min-width: 50px;
    border-radius: 2px;
    color: white;
    font-family: consolas;
    font-weight: 800;
    transition: 0.5s;
}

.auth button:active {
    transform: translate(5px, 5px);
}