
.header {
    background-color: rgb(46, 35, 73);
    padding: 10px;
    margin: 0;
    border: 1px solid palevioletred;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.header h4 {
    padding: 0;
    margin: 0;
    color: azure;
    font-size: 16pt;
}

.header p span {
    color: rgb(213, 0, 249);
    font-weight: 900;
}
